{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "store": "./redux/store",
          "utils": "./views/utils",
          "components": "./views/components",
          "routes": "./views/routes",
          "sections": "./views/sections",
          "pages": "./views/pages",
          "icons": "./views/icons"
        }
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-react-inline-elements"
  ]
}
