.dashboard
  width: 100%
  height: calc(100vh - 60px)
  display: flex
  // max-width: calc(100% - 100px)
  // margin: 0 auto
  // padding: 20px
  // border-radius: 5px
  // background-color: #FDFDFD
  // box-shadow: rgba(#25265E, .1) 0 4px 24px 0
  // margin: 50px 0
  // min-height: calc(100vh - 80px - 100px)
  &__empty
    text-align: center
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 100px
    button
      margin-top: 25px
  
  // .left-bar
  //   position: fixed
  //   width: 80px
  //   height: 100%
  //   display: flex
  //   flex-direction: column
  //   justify-content: flex-start
  //   // padding: 15px
  //   background-color: #ffffff
  //   box-shadow: rgba(#25265E, .1) 0 4px 24px 0
  //   &__item
  //     overflow: hidden
  //     padding: 15px
  //     img
  //       border-radius: 50%
  //       width: 50px
  //     &-active
  //       background-color: #eeeeee

  .profile
    width: 100%

    