.instaprofile
  width: 100%
  padding: 15px
  &__name
    font-size: 16px
    margin-bottom: 35px
    font-weight: 500

  .container-fluid
    padding-left: 0
    padding-right: 0

  .panel
    margin: 15px 15px
    background-color: #ffffff
    padding: 28px
    // box-shadow: 0 2px 10px 0 rgba(#000, .05)
    border-radius: 5px
    
    +max-screen(992px)
      width: 100%

// .col-profile-info
  


  



.profile-info
  width: 218px
  &__name
    color: var(--profile-name)
    font-weight: bold
    font-size: 18px
    display: block
    margin: 25px 0
  &__text 
    color: var(--third-one)
    font-size: 20px
    font-weight: 600
    line-height: 15px
    display: inline-block
    &_mark-green, &_mark-red
      font-size: 12px
      margin-left: 6px
    &_mark-green
      color: var(--account-mark)
    &_mark-red
      color: var(--alert-red-two)
  &__profile
    display: flex
    justify-content: space-between
    align-items: flex-end
    &-text
      color: var(--third-one)
      font-size: 14px
      font-weight: 600
      line-height: 14px
      &_grey
        font-size: 12px
        line-height: 12px
        color: var(--third-four)
        font-weight: 500
  &__block
    display: flex
    flex-wrap: wrap
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
  &__caption
    width: 100%
    color: var(--third-three)
    font-size: 12px
    font-weight: 400
    line-height: 15px
    margin-top: 7px


.limits
  width: calc(50% - 248px - 30px)
  &__caption
    color: var(--third-one)
    font-size: 14px
    font-weight: 600
    line-height: 15px
    margin-bottom: 40px
  &__text
    display: block
    color: var(--third-three)
    font-size: 12px
    font-weight: 600
    line-height: 15px
    &_doubel 
      display: flex
      justify-content: space-between
      align-items: center
    &_red 
      color: var(--alert-red-two)
      font-weight: 400
  &__btns
    margin-top: 40px
    display: flex
    justify-content: space-between
  &__split-btn
    width: 175px
    position: relative
    border: 1px solid var(--third-four)
    border-radius: 5px
    height: 30px
    overflow: hidden
    display: inline-block
  &__active-tab
    position: absolute
    width: 50%
    height: 100% 
    top: 0
    background-color: var(--third-four)
    z-index: 1
    transition: all 0.15s linear
    &_first
      left: 0
    &_second 
      left: 50%
  &__btn
    outline: none
    height: 100%
    width: 50%
    cursor: pointer
    color: var(--third-four)
    font-size: 12px
    font-weight: 400
    line-height: 15px
    background-color: transparent
    border: none
    position: relative
    z-index: 2
    transition: color 0.15s linear
    &_active
      color: #fff
    &_apply
      width: 100px
      border: 1px solid var(--second-two)
      color: var(--second-two)
      height: 30px
      border-radius: 5px
      transition: all 0.15s linear
      &:hover
        background-color: var(--second-two)
        color: #fff

.stats
  width: calc(50% - 30px)
  height: 280px
  display: flex
  flex-direction: column
  margin: 40px 0 15px
  align-items: stretch
  justify-content: space-between
  &__top
    display: flex
    flex-direction: column
    // align-items: center
    // flex-direction: space-between
    &-nav
      display: flex
      flex-direction: space-between
      width: 100%
      margin-bottom: 15px
    &-growth
      width: 100%
      margin-bottom: 15px
    &-text
      @extend .profile-info__profile-text
      &_grey
        @extend .profile-info__profile-text_grey
  &__chart
    position: relative
