.leftbar
  position: fixed
  width: 100px
  top: 60px
  left: 0
  // background-color: $green-accent

  box-shadow: 0 10px 10px 0 rgba(#000, .05)
  height: calc(100% - 60px)
  overflow-y: auto
  z-index: 1
  // &__logo
  //   display: flex
  //   align-items: center
  //   justify-content: center
  //   color: #ffffff
  //   background-color: #173e43
  //   height: 80px
  //   width: 100%
  //   line-height: 60px
  //   text-align: left
  //   font-size: 30px
  //   text-decoration: none
  //   a
  //     text-decoration: none

  &__name
    color: var(--leftbar-title)
    text-align: center
    font-size: 12px
    font-weight: bold
    padding: 20px 0

  &__menu
    width: 100%
    // height: calc(100% - 80px)
    display: flex
    flex-direction: column
    justify-content: flex-start
    &-item
      display: flex
      width: 100%
      line-height: 40px
      color: #039be5
      text-decoration: none
      font-size: 14px
      align-items: center
      justify-content: flex-start
      padding: 15px
      svg
        display: block
        height: 25px
        fill: #039be5
      &.active
        background-color: rgba(var(--blue), .05)
  
  .acclist
    width: 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    // padding: 15px
    &__item
      overflow: hidden
      display: flex
      align-items: center
      justify-content: center
      padding: 10px
      text-decoration: none
      img
        border-radius: 50%
        width: 50px
      // span
      //   font-size: 13px
      //   color: #039be5
      //   margin-left: 10px
      &-active
        background-color: rgba(var(--blue), .05)
    &__add
      border: none
      outline: none
      cursor: pointer
      color: var(--blue)
      font-size: 42px
      width: 100%
      appearance: none
      background-color: transparent
      padding: 0