.main
  background-color: var(--body-background)
  position: fixed
  top: 60px
  right: 0
  height: calc(100% - 60px)
  width: calc(100% - 100px)
  overflow-y: auto
  scroll-behavior: smooth
  -webkit-overflow-scrolling: touch
  // padding: 50px 25px
  display: flex
  justify-content: center
  +max-screen(480px)
    width: calc(100% - 80px)