.popup
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  align-items: center
  justify-content: center
  background-color: rgba(#3C539A, .8)
  display: none
  text-align: center
  &_visible
    display: flex
  &__error-text
    display: block
    height: 15px
    font-size: 12px
    line-height: 15px
    margin-bottom: 12px
    font-weight: 400
    color: #c62828
  &__content
    background-color: #ffffff
    border-radius: 15px
    padding: 25px
    display: flex
    position: relative
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 320px
    h3
      font-size: 15px
      font-weight: 500
      line-height: 1.5
      margin-bottom: 12px
    button
      margin-top: 25px
  &__close 
    position: absolute
    width: 20px
    height: 20px
    top: 10px
    right: 10px
    cursor: pointer
    &:before, &:after
      content: ''
      width: 100%
      height: 2px
      background-color: #10cc8d
      position: absolute
      top: 50%
      left: 0
    &:before
      transform: translateY(-50%) rotate(45deg)
    &:after
      transform: translateY(-50%) rotate(-45deg)


